<mat-accordion [displayMode]="'flat'">
  <mat-expansion-panel [expanded]="rlaProfiles.isActive">
    <mat-expansion-panel-header>
      <mat-panel-title
        routerLink="/profiles"
        routerLinkActive="active-link"
        (click)="$event.stopPropagation()"
        #rlaProfiles="routerLinkActive"
        >Profiles</mat-panel-title
      >
    </mat-expansion-panel-header>

    <mat-nav-list class="nav-links">
      <a
        mat-list-item
        [routerLink]="['/profiles', profile.id]"
        routerLinkActive="active-link"
        *ngFor="let profile of (profileList | async)"
      >
        <h4 matLine>{{ profile.firstName }}</h4>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>