<mat-nav-list>
  <mat-list-item routerLinkActive="active-link">
    <fa-icon icon="project-diagram"></fa-icon>
    <span class="item-text">Dashboard</span>
  </mat-list-item>
  <mat-list-item>
    <fa-icon icon="user-tie"></fa-icon>
    <span class="item-text">Demographics</span>
  </mat-list-item>
  <mat-list-item>
    <fa-icon icon="paper-plane"></fa-icon>
    <span class="item-text">Contact Detials</span>
  </mat-list-item>
  <mat-list-item>
    <fa-icon icon="donate"></fa-icon>
    <span class="item-text">Financial</span>
  </mat-list-item>
  <mat-list-item>
    <fa-icon icon="fingerprint"></fa-icon>
    <span class="item-text">Credentials</span>
  </mat-list-item>
  <mat-list-item>
    <fa-icon icon="link"></fa-icon>
    <span class="item-text">Registrations</span>
  </mat-list-item>
</mat-nav-list>